﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display:inline-block;
    content: "[";
    padding-right: 0.5em;
}
.btn-bracketed::after {
    display:inline-block;
    content: "]";
    padding-left: 0.5em;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"]
{
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }
}

.margin-all-5 {
    margin: 5px;
}

.black-border {
    border: thin solid black;
}

.user-list-item{

}

.user-list-item:hover{
    background: #808080;
}

.filter-box{
    padding-left: 20px;
    max-height: 400px;
    overflow-y: auto;
}

.user-select-dropdown{
    height:auto;
    max-height: 550px;
    overflow-y: auto;
}

.game-tile{
    background-size:cover;
    width: 308px;
    height: 145px;
}
