﻿@using Microsoft.AspNetCore.Identity
@using GameCompare.info.Models
@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication

@inject SignInManager<ApplicationUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Log off</button>
            </li>
        </ul>
    </form>
}
else
{
    var loginProviders = SignInManager.GetExternalAuthenticationSchemes().ToList();
    <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
        <ul class="nav navbar-nav navbar-right">
            @foreach (var provider in loginProviders)
            {
                <li>
                    <button type="submit"
                            class="btn btn-link navbar-btn navbar-link"
                            name="provider"
                            value="@provider.AuthenticationScheme"
                            title="Log in using your @provider.DisplayName account">
                        Log into Steam (Not Affiliated)
                    </button>
                </li>
            }
        </ul>
    </form>
}
