﻿@{
    ViewData["Title"] = "Steam OpenID Issue";
}

<header>
    <h1 class="text-danger">Steam OpenID Restriction</h1>
    <p class="text-danger">Steam OpenID has throttled requests from this site. Please try to log in later.</p>
    <p class="text-danger">Sorry About that!</p>
</header>
