﻿@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using Newtonsoft.Json;
@using GameCompare.info;
@model GameCompare.info.Models.HomeModels.HomeIndexViewModel
@{
    ViewData["Title"] = "Compare";
}

<input type="hidden" id="gameJsonData" value="@JsonConvert.SerializeObject(Model.Games.OrderBy(g => g.Name))" />
<input type="hidden" id="gameOwnershipJsonData" value="@JsonConvert.SerializeObject(Model.FriendGameOwnership)" />
<input type="hidden" id="friendJsonData" value="@JsonConvert.SerializeObject(Model.FriendUserInfos)" />
<input type="hidden" id="currentUserJsonData" value="@JsonConvert.SerializeObject(Model.CurrentUserInfo)" />

<div class="container">
    <div class="well well-lg" style="margin-top: 18px;">
        <div class="row">
            <div class="col-sm-3">
                <span class="lead">Compare To:</span>
            </div>
            <div class="col-sm-9">
                <div class="dropdown" >
                    <div class="btn btn-primary dropdown-toggle" style="width: 350px;" type="button" data-toggle="dropdown">
                        <img id="selectedAvatar" width="45" height="45" class="img-rounded" src="@Model.CurrentUserInfo.AvatarMedium" />
                        <span id="selectedPersonaName">@Model.CurrentUserInfo.PersonaName</span>
                        <span class="caret" />
                    </div>
                    <ul class="dropdown-menu user-select-dropdown">
                        <li>
                            <div class="container" style="max-width: 350px;">
                                <div id="@Model.CurrentUserInfo.UserId"
                                     class="row black-border user-list-item margin-all-5 img-rounded"
                                     onclick="ProcessUserItemClick('0')">
                                    <div class="col-sm-2 img-rounded margin-all-5">
                                        <img class="img-rounded" width="45" height="45" src="@Model.CurrentUserInfo.AvatarMedium" />
                                    </div>
                                    <div class="col-sm-8 vcenter">
                                        <strong>@Model.CurrentUserInfo.PersonaName</strong>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            @foreach (var friend in Model.FriendUserInfos.Values.OrderBy(fui => fui.PersonaName))
                            {
                                <div class="container" style="max-width: 350px;">
                                    <div 
                                         id="@friend.UserId" 
                                         class="row black-border user-list-item margin-all-5 img-rounded" 
                                         onclick="ProcessUserItemClick('@friend.UserId')">
                                        <div class="col-sm-2 img-rounded margin-all-5">
                                            <img class="img-rounded" width="45" height="45" src="@friend.AvatarMedium" />
                                        </div>
                                        <div class="col-sm-8 vcenter">
                                            <strong>@friend.PersonaName</strong>
                                        </div>
                                    </div>
                                </div>

                            }
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div id="filter-selection" class="col-sm-3">
           <div class="row">
               <div class="col-sm-12">
                   <div id="genre-selection" class="well">
                       <strong>Genres</strong>
                       <input id="clear-genres" type="button" class="btn-link text-right" onclick="ClearGenres()" value="Clear">
                       <div class="margin-all-5 filter-box">
                           @foreach (var genre in Model.Genres)
                           {
                               <div class="checkbox">
                                   <input 
                                          id="@Html.MakeDescriptionClassNameSafe(genre.Desciption)" 
                                          type="checkbox" 
                                          Value="@genre.Id"
                                          onchange="ProcessFilterChange()">
                                   @genre.Desciption
                               </div>
                           }
                       </div>
                   </div>
               </div>
           </div>
            <div class="row">
               <div class="col-sm-12">
                   <div id="category-selection" class="well">
                       <strong>Categories</strong>
                       <input id="clear-genres" type="button" class="btn-link text-right" onclick="ClearCategories()" value="Clear">
                       <div class="margin-all-5 filter-box">
                           @foreach (var category in Model.Categories)
                           {
                               <div class="checkbox">
                                   <input 
                                          id="@Html.MakeDescriptionClassNameSafe(category.Description)"
                                          type="checkbox" 
                                          Value="@category.Id"
                                          onchange="ProcessFilterChange('@Html.MakeDescriptionClassNameSafe(category.Description)')">
                                   @category.Description
                               </div>
                           }
                       </div>
                   </div>
               </div>
           </div>
        </div>
        <div class="col-sm-9">
            <div class="well">
                <div id="gamesTileRow" class="row">
                    <div class="col-lg-12">
                        <p class="h2">Games</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/js/HomeIndexScript.js"></script>
}
