﻿@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model GameCompare.info.Models.HomeModels.WaitForDataSyncModel

@{
    ViewData["Title"] = "Please Wait...";
}

@section scripts{
    <script src="~/js/WaitForDataSyncScript.js"></script>
}

@Html.HiddenFor(model => model.RedirectUrl)
@Html.HiddenFor(model => model.StatusAjaxUrl)
<div id="waitForDataMessage" class="container" style="margin-top: 15px; display: none;">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div>
                <img class="img-responsive center-block" src="/images/gears.svg"/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
            <div>
                <p class="h2 center-block">Please wait while your data is fetched.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
            <div>
                <p class="small">If this is the your first time using the service this can take several minutes (okay, a long time, a really long time) due to API throttling. You can leave this site and come back later and your data will continue to process while you are gone. Otherwise you can just leave this page open until the data sync process finishes.</p>
            </div>
        </div>
    </div>
</div>
<div id="allDone" class="container" style="margin-top: 15px; display: none;">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div>
                <img class="img-responsive center-block" src="/images/heart.svg"/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
            <div>
                <p class="h2 center-block">All done, thanks for waiting!</p>
            </div>
        </div>
    </div>
</div>
<div id="error" class="container" style="margin-top: 15px; display: none;">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div>
                <a href="@Model.RedirectUrl"><img class="img-responsive center-block" src="/images/reload.svg" /></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
            <div>
                <p class="h2 center-block text-danger">Something went wrong!</p>
            </div>
        </div>
        <div class="col-sm-8 col-sm-offset-2 text-center">
            <div>
                <p class="small center-block">Sorry about that. Click the reload above icon to try again. If you get this message again, please try again later.</p>
            </div>
        </div>
    </div>
</div>